<div class="container">
    <div class="card " style="margin-top:64px;">
        <img [src]="selectedMovie.img_uri" class="card-img-top " alt="... ">
        <div class="card-body ">
            <h5 class="card-title ">{{selectedMovie.name}}</h5>
            <p class="card-text ">{{selectedMovie.description}}</p>
            <p>
                Rating
            </p>
            <p class="card-text" style="height: 40px;">
                <app-rating [rating]='selectedMovie.rating' [itemId]='selectedMovie.id' (ratingClick)='ratingComponentClick($event)' [readonly]="false"></app-rating>
            </p>
            <p class="card-text ">Comments</p>
            <div>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let c of selectedMovie.comments">
                        <p style="font-size: 10px;">{{c.name}}</p>
                        <p style="text-align: end;">{{c.comment}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div *ngIf="isAuth">
        <form #cform="ngForm" (ngSubmit)="onClickSubmit(cform)">
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea name="comment" ngModel class="form-control" rows="5" id="comment"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div *ngIf="!isAuth">
        <div class="form-group">
            <label for="comment">Please sign in to comment</label>
            <button type="submit" routerLink="/login" class="btn btn-primary">Signin</button>
        </div>
    </div>
</div>