<div class="container" style="padding:64px;">
    <div class="row">
        <div class="col-3" *ngFor="let movie of movies; let index = index">
            <div class="card ">
                <img [src]="movie.img_uri" class="card-img-top " alt="... ">
                <div class="card-body ">
                    <h5 class="card-title ">{{movie.name}}</h5>
                    <p class="card-text ">{{movie.description}}</p>
                    <a [routerLink]="['details', movie.id]" class="btn btn-primary ">View More</a>
                </div>
            </div>
        </div>
    </div>
</div>